.feedback-form {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 24px;
    max-width: 408px;
    gap: 8px;
}

.feedback-form-label {
    text-align: left;
    letter-spacing: 0.04em;
    color: #2e2f42;
    display: flex;
    flex-direction: column;
}

.feedback-form-email {
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    margin-top: 8px;
    padding: 8px;
    font-size: 14px;
    letter-spacing: 0.02em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    outline: none;
    border: 1px solid #808080;
    border-radius: 4px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
    transition: border 250ms linear;

    &:focus {
        border: 1px solid #000;
    }
}

.feedback-form-message {
    box-sizing: border-box;
    width: 100%;
    margin-top: 8px;
    resize: none;
    height: 80px;
    padding: 8px;
    font-size: 14px;
    letter-spacing: 0.02em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    outline: none;
    border: 1px solid #808080;
    border-radius: 4px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
    transition: border 250ms linear;

    &:focus {
        border: 1px solid #000;
    }
}

.submit-btn {
    align-self: flex-start;
    display: inline-block;
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4e75ff;
    color: #FFFFFF;
    transition: background-color 250ms linear;

    &:hover {
        background-color: #6c8cff;
    }
}