.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.gallery-item {
    width: calc((100% - 24px * 2) / 3);
    border-radius: 10px;
    overflow: hidden;
}

.sl-image {
    border-radius: 10px;
    overflow: hidden;
}

.sl-overlay {
    background-color: rgba(46, 47, 66, 1);
}

.sl-wrapper .sl-close,
.sl-wrapper .sl-counter,
.sl-wrapper .sl-navigation button {
    color: #FFFFFF;
}